p {
    color: red;
}

.box {
    border: 3px solid rgb(193, 137, 137);
    border-radius: 9px;
}

.summer {
    color: red;
    text-decoration: double;
}

.winter {
    color: blue;
}

ul>li {
    color: black;
    background-color: bisque;
}

ol>li {
    color: black;
    background-color: floralwhite;
}

.number {
    color: burlywood;
    font-size: 28px;
}